html,
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Nixie One';
  background-color: #EBEBEB;
  background-image: url(https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

// ------------------------HEADER ------------------------
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #56CBF9
}

.login-corner {
  display: flex;
}

// ------------------------ BUTTONS ------------------------

button {
  width: auto;
  height: 90%;
  background-color: #003552;
  color: #ffffff;
  border-radius: 10px;
}

// ------------------------ USER SUMMARY ------------------------

main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: 3px solid #202931;
  border-right: 3px solid #202931;
  background-color: #F5F5F5
}

.user-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.trip-selection {
  display: flex;
  justify-content: space-around;
}

.trip-type {
  display: flex;
  justify-content: space-around;
}

.user-trips {
  display: flex;
  flex-direction: column;
}

.trip {
  display: flex;
  // flex-direction: column;
  align-items: center;
}

img {
  height: 100px;
  width: 100px;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
