html,
body {
  margin: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Nixie One';
  background-color: #EBEBEB;
  background-image: url(https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

// ------------------------HEADER ------------------------
header {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #89DAFA;
  border-bottom: 3px double #202931;
}

.login-corner {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// ------------------------ BUTTONS ------------------------

.login-button {
  width: 30%;
  height: 35%;
  background-color: #004266;
  color: #ffffff;
  border-radius: 10px;
  margin-left: 20px;
}

.trip-type-buttons > button {
  width: 15%;
  height: 100%;
  background-color: #D8F3FD;
  color: #000000;
  // border-radius: 30px/60px;
}

.trip-selection-buttons > button {
  width: 25%;
  height: 100%;
  background-color: #004266;
  color: #ffffff;
  border-radius: 20px;
}

.selected-button {
  width: 25%;
  height: 100%;
  background-color: #D8F3FD;
  color: #000000;
  border-radius: 20px;
}

.all-trips{
  border-radius: 20px 0 0 20px;
}

.pending-trips {
  border-radius: 0 20px 20px 0;
}

// ------------------------ USER SUMMARY ------------------------

main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: 12px double #89DAFA;
  border-right: 12px double #EFD1DC;
  background-color: #F5F5F5
}

.user-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.trip-selection-buttons {
  display: flex;
  justify-content: space-around;
}

.trip-filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-type-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-trips {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip {
  width: 85%;
  display: flex;
  // flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-image-slice: 1;
  margin: 3%;
}

.trip-border {
  border-image-source: linear-gradient(to left, #EFD1DC, #E0C867, #89DAFA);
}

img {
  height: 100px;
  width: 100px;
}

footer {
  background-color: #EFD1DC;
  border-top: 3px double #202931;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
